# Ignore the Virtual Environment (Huge folder)
venv/
.env

# Ignore Python compiled files
__pycache__/
*.pyc

# Ignore media files (Too big for GitHub)
*.mp4
*.mp3
*.mov
*.mkv
*.wav
*.avi

# Ignore generated reports
temp_reports/
output/
*.pdf
*.html

# Ignore MacOS specific files
.DS_Store